<h1>Edit Items <%=@item.id%></h1>

<form action="/item/<%=@item.id %>" method="POST">
  <label> Item's name </label>
  <input type="text" name="name" value="<%=@item.name %>"> 
  <label> Item's Category </label>
  <input type="text" name="category" value="<%=@item.category %>"> 
  <input type="submit" value="Update">

</form>

<a href ="/logout"> Logout here </a>