<h1> Here are your Items</h1>
<%@items.each do |item| %>
<li><%= item.id %>: <%= item.name %> - <%= item.category %> <a href ='/item/<%= item.id %>'>Click here to view</a> </li>
<%end%>

<a href = '/item/new'> Click here to add an item</a>
<a href ="/logout"> Logout here </a>