<h1> Add a new item</h1>
<form action  = '/item/new' method = "POST">
  <label> Item's name </label>
  <input type="text" name="name" > 
  <label> Item's Category </label>
  <input type="text" name="category" > 
  <input type="submit" value="Create">
</form>

<a href ="/logout"> Logout here </a>