<h1> Add a shop</h1>
<form action  = '/shops' method = "POST">
  <label> shop's name </label>
  <input type="text" name="name" > 
  <label> shop's Category </label>
  <input type="text" name="category" > 


  <input type="submit" value="Create">
</form>

<a href ="/logout"> Logout here </a>