<h1>Edit Shop</h1>

<form action="/shop/<%=@shop.id %>" method="POST">
  <label> Name </label>
  <input type="text" name="name" value="<%=@shop.name %>"> </br>
  <label> Category </label>
  <input type="text" name="category" value="<%=@shop.category%>"> </br>

  <input type="submit" value="Update">
</form>