<h1><%= @item.id %>: <%= @item.name %> - <%= @item.capacity %></h1>



<form method="post" action="/items/<%=@item.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
<form>

<a href ="/logout"> Logout here </a>

